
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header{
  height: 100px;
  padding: 10px;
  color: white;
  background-color: blue;
}

.column{
  float: left;
  padding: 10px;
}

.column.left{
  width: 20%;
}

.column.center{
  width: 50%;
}

.column.right{
  width: 20%;
}

.row {
  display: flex;
  justify-content: center;
}

.footer{
  background-color: black;
  height: 300;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .column.left, .column.right, .column.middle {
    width: 100%;
  }
}